/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
app/Classes/.DS_Store
app/Http/Controllers/Api/V1/.DS_Store
*.lock
